@import url('https://fonts.googleapis.com/css2?family=Stoke&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{ 
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 25px;
}
img{
    display: block;
    width: 100%;    
}
body{
    background-image: url(images/1.jpg);
    background-color: rgb(250, 248, 110);
}
h1,
h2,
h3,
p{
    font-family: 'Stoke', sans-serif;
}
h1,
h2{
    font-size: 45px;
    text-align: center;
    margin: 25px auto;
    }
.gallary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.gallary img{
    border-radius: 25px;
    box-shadow: 15px -17px 8px rgb(236, 229, 126);
    margin-bottom: 20px;
}
.photo{
    margin: 25px 50px;
}
.photo p{
    text-align: center;
    font-size: 20px;
}
.phone {
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.phone p{
    font-size: 20px;
}
.phone h3{
    margin: 0 15px 0 25px;
}
.insta:hover{
    color: blue;
}

.insta{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px -1px 30px 17px rgba(0,0,0,0), -10px -7px 27px 1px #8E5CFF, -10px 10px 15px 7px #FF616B, 12px 10px 15px 7px #E488FF, 12px -5px 15px 5px #80C7FF, -7px -5px 15px 5px #8CFF85, -9px 5px 15px 5px #FFE488, 5px 5px 15px 5px #FF8080 
    ;
    border-radius: 25px;
    padding: 5px;
}
.num{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px -1px 30px 17px rgba(0,0,0,0), -10px -7px 27px 1px #8E5CFF, -10px 10px 15px 7px #FF616B, 12px 10px 15px 7px #E488FF, 12px -5px 15px 5px #80C7FF, -7px -5px 15px 5px #8CFF85, -9px 5px 15px 5px #FFE488, 5px 5px 15px 5px #FF8080 
    ;
    border-radius: 25px;
    padding: 5px;
}
.insta img,
.num img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}